DOCKER_REGISTRY=docker.io

FRONTEND_PORT=8228
BACKEND_PORT=8328
MYSQL_PORT=3528
REDIS_PORT=6628

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=locker_db
MYSQL_USER=locker
MYSQL_PASSWORD=locker123

SPRING_PROFILES_ACTIVE=prod
